<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>


  <form id="sign_in" action="/sessions" method="POST">
    <label for="username">username:</label>
    <input id="username" type="text" name="username">
    <label for="email">email:</label>
    <input id="email" type="text" name="email">
    <label for="password">password:</label>
    <input id="password" type="password" name="password">
    <input type="submit", value="SUBMIT">
  </form>

  <a href="users/new">Sign Up!</a>

  <table>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years of Experience</th>
      <th>Formal Education</th>
    </tr>
    <tr>
      <% @users.each do |user| %>
      <td>
        <%= user.name %>
      </td>
      <% user.proficiencies.each do |proficiency| %>
      <td>
        <% if proficiency.formal_education == true %>
        <%= "YES" %>
        <% else %>
        <%= "NO" %>
        <% end %>
        <%end%>
      </td>
      <td>
        <% user.skills.each do |skill| %>
        <%= skill.name%>
        <%end%>
      </td>
      <td>
        <%= proficiency.years_experience %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
